*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-columns: 200px 1000px;
  grid-template-rows: 150px 150px 150px 150px;
}

/* HEADER */
.header {
  /* background-color: orangered; */
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 75px 75px;
}

/* HEADER TOP */
.header-top {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-auto-flow: column;
  justify-items: space-between;
  align-items: center;
}

.search-bar {
}

.search-bar__icon {
}

#search-bar__user-input {
}

.notification {
  display: grid;
  grid-auto-flow: column;
}

.notification__icon {
}

.notification__profile-img {
}

.notification__profile-name {
}

/* HEADER BOTTOM */
.header-bottom {
  grid-column: 1/2;
  grid-row: 2/3;

  display: grid;
  grid-auto-flow: column;
}

.welcome-user {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 70px 1fr;
}

.welcome-user__profile-img {
}

.welcome-user__texts {
}

.welcome-user__text {
}

.welcome-user__name {
}

/* SIDEBAR */
.sidebar {
  /* background-color: lightgreen; */
  padding-bottom: 400px;
  padding-left: 20px;
  grid-column: 1/2;
  grid-row: 1/5;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.sidebar-header {
}
.sidebar-header__logo {
  display: inline-block;
}

.sidebar-header__text {
  display: inline-block;
}

.sidebar-main-menu {
}

.sidebar-menu {
}

.sidebar-menu__icon {
  display: inline-block;
}

.sidebar-menu__link:link,
.sidebar-menu__link:visited {
  text-decoration: none;
}

.sidebar-menu__link:hover,
.sidebar-menu__link:active {
}

/* MAIN CONTENT */
.main-content {
  background-color: lightblue;
  grid-column: 2/3;
  grid-row: 2/5;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.projects {
  background-color: yellowgreen;
}

.update-panels {
  background-color: lightcoral;
}
